.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carouselItem {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  height: 200px;
  /* background-color: green; */
  height: 100%;
  color: black;
}

.indicators {
  display: flex;
  justify-content: center;
  /* margin-top: 5rem; */
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  /* background-color: green; */
  color: black;
}
