.types{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  list-style: none;
  padding-left: 0;
  text-transform: capitalize;
  color: #555;
}
.props{
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.props > li{
  border: 5px solid white;
  overflow: hidden;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  outline: 2px whitesmoke solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.types > li:nth-child(2) .props > li{
  font-size: 30px !important;
}