body *:nth-child(n){
  margin: 20px;
}
h1{
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  font-family: serif ;
}
p{
  font-size: 16px;
  width: 350px;
  padding: 10px;
  border: 1px solid;
  box-sizing: border-box;
  line-height: 1.4;
}
a{
  display: block;
  width: 200px;
  height: 100px;
  background-color: orange;
  font-size: 22px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
}
div{
  width: 200px;
  height: 200px;
  background-color: orange;
  background-image: url("https://heropy.blog/css/images/logo.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center ;
}