#result{
  /* display: none; */
  background-color: #FFF;
  text-align: center;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
}
#result .canvas{
  width: 95%;
  background-color: #F1F1F1;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
#result .canvas::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
#result .title{
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10%;
}
#result .text-group .result-name{
  font-size: 16px;
  font-weight: 700;
  padding: 15% 5% 10% 5%;
  line-height: 1.4;
}
#result .text-group .result-description{
  font-size: 14px;
  font-weight: 400;
  padding: 0 5% 10% 5%;
  line-height: 1.4;
}

#result .img-group{
  width: 95%;
  height: 15vh;
  margin: 2vh auto;
  background-color: whitesmoke;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
#result .img-group .statics{
  width: 42%;
  height: 80%;
  background-color: #FFF;
  margin-right: 10%;
  border-radius: 100px;
}
#result .img-group .compatibility{
  width: 42%;
  height: 80%;
  background-color: #FFF;
  border-radius: 100px;
}
#result .img-group .text{
  display: block;
  padding: 15px;
  font-size: 14px;
}

#result .btn-group{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#result .btn-group .share-btn{
  width: 45%;
  padding: 3%;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  transition: .4s;
  margin: 2vh auto 3vh;
  cursor: pointer;
}
#result .share-btn:hover{
  background-color: #333;
  color: #FFF;
}
#result .btn-group .share-btn a{
  color: #333;
}
#result .btn-group .share-btn:hover a{
  display: block;
  height: 100%;
  color: #FFF;
}

#result .btn-group .result-btn{
  width: 45%;
  padding: 3%;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  transition: .4s;
  margin: 2vh auto 3vh;
  cursor: pointer;
}
#result .result-btn:hover{
  background-color: #333;
  color: #FFF;
}
#result .btn-group .result-btn a{
  color: #333;
}
#result .btn-group .result-btn:hover a{
  display: block;
  height: 100%;
  color: #FFF;
}

#result .btn-group .main-btn{
  width: 95%;
  padding: 3%;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  transition: .4s;
  margin: auto;
  background-color: #333;
  cursor: pointer;
}
#result .main-btn:hover{
  background-color: #FFF;
}
#result .btn-group .main-btn a{
  height: 100%;
  color: #FFF;
}
#result .btn-group .main-btn:hover a{
  color: #333;
}